*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
nav{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99;
}
.logo{
	margin-left: 50px;
	font-family: acumin-pro, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 2px;
}
ul{
	margin-right: 50px;
	display: flex;
	padding: 19px;
	list-style: none;
	transition: all 0.5s ease;
}
li{
	margin-left: 30px;
}
a{
	font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
	color: #FF9800;
}
.home{
	min-height: 100vh;
	max-width: 1280px;
	width: 100%;
	background: url('man-g0ef81e636_1920.jpg');
	background-size: cover;
	background-position: 200;
	z-index: 1;
	position: relative;
}
.home:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000;
	opacity: 0.7;
	z-index: -1;
}
.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	height: 100vh;
}
.home-cont{
	text-align: center;
}
.text{
	font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 20px;
}
.text1{
	font-family: acumin-pro, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #ffffff;
    font-size: 60px;
    letter-spacing: 10px;
}
.shape{
	width: 50px;
	height: 50px;
	border: 2px solid #FF9800;
	position: absolute;
	right: 5%;
	top: 20%;
	animation: shape 2s linear infinite;
}
@keyframes shape{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
.scrooll-down{
	position: absolute;
	left: 50%;
	bottom: 50px;
	height: 30px;
	width: 30px;
	animation: scrolldown 2s linear infinite;
}
@keyframes scrolldown{
	0%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(20px);
	}
	100%{
		transform: translateY(-15px);
	}
}
#icon1{
	font-size: 35px;
	color: white;
}
.about{
	padding: 80px;
}
.img-box{
	max-width: 350px;
	height: 500px;
}
.img-box img{
	width: 100%;
	height: 500px;
}
.container1{
	display: flex;
}
.about-content{
	width: 700px;
	margin-left: 30px;
}
.about-title{
	font-family: acumin-pro, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: black;
    font-size: 21px;
    position: relative;
}
.about-title h1{
	display: inline-block;
}
.about-title:before{
	content: '';
	position: absolute;
	left: 0;
	top: 50px;
	bottom: 0;
	width: 80px;
	height: 3px;
	background-color: #FF9800;
}
.about-content p {
	font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    margin-top: 50px;
    line-height: 26px;
}
.stats{
	display: flex;
	margin-top: 50px;
	width:700px;
	justify-content: space-around;
}
.stat-box h2{
	text-align: center;
	font-family: 'acumin-pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}
.stat-box h5{
	text-align: center;
	font-family: 'acumin-pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-transform: uppercase;
}
.btn1{
	background-color: #FF9800;
	padding: 10px 35px;
	border: 2px solid transparent;
	border-radius: 30px;
	outline: none;
	line-height: 1.5;
	font-size: 16px;
	font-family: 'acumin-pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: all 0.5 ease;
    margin-top: 50px;
}
.btn1:hover{
	background-color: transparent;
	border-color: #FF9800;
	color: #FF9800;
}
.ull{
	display: flex;
}
.openMenuu{
	position: absolute;
	top: 20px;
	right: 25px;
	font-size: 24px;
	color: white;
	display: none;
}
.closeMenu{
	position: absolute;
	top: 20px;
	right: 25px;
	font-size: 24px;
	color: white;
	display: none;
}
.section-title{
	font-family: acumin-pro, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: black;
    font-size: 21px;
    margin-left: 80px;
    position: relative;
}
.section-title:before{
	content: '';
	position: absolute;
	left: 0;
	top: 50px;
	bottom: 0;
	width: 80px;
	height: 3px;
	background-color: #FF9800;
}
.service-section{
	margin-top: 300px;
}
.service-item{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.service-item-inner{
	margin-top: 100px;
	position: relative;
	width: 300px;
	height: 250px;
}
.img2{
	width: 300px;
	height: 250px;
}
.service-section .service-item-inner:hover .overlay{
	transition: all 0.5s ease;
	opacity: 0;
}
.overlay{
	position: absolute;
	width: 100%;
	height: 250px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.6);
	transition: all 0.5s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}
.overlay h4{
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	height: 200px;
	font-family: acumin-pro, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 21px;
}
.section2{
	margin-top: 100px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.section-title h1{
	font-family: acumin-pro, sans-serif;
    font-weight: 900;
	font-size: 35px;
	margin-top: 300px;
}
.img3{
	width: 300px;
	max-width: 100%;
	height: 200px;
	transform: scale(1.1);
	overflow: hidden;
}
.work-section .work-item-inner:hover .img3{
	animation: anun 3s forwards;
}
@keyframes anun{
	0%{
		transform: scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}
.work-item-inner{
	position:relative;
	width: 300px;
	height: 200px;
	margin-left: 30px;
	margin-top: 30px;
	overflow: hidden;
}
.work-item .overlay{
	position :absolute;
	top :0;
	left :0;
	background-color: rgba(0,0,0,0.6);
	width: 400px;
	height: 200px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	transition: all 0.5s ease;
	opacity: 0;
}
.work-item .overlay h4{
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	margin-left: 30px;
	margin-bottom: 10px;
}
.work-section .work-item-inner:hover .overlay{
	transition: all 0.5s ease;
	opacity:1;
}
.section3{
	margin-top: 30px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.section3 .work-item-inner{
	margin-left: 30px;
	margin-top: 30px;
}
.lightbox{
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}
.lightbox.open{
	display: flex;
}
.light-img{
	
	height: auto;
	max-width: 100%;
	width: auto;
}
.img-box1{
	position: relative;
}
.light-caption{
	font-family: acumin-pro, sans-serif;
    font-weight: 900;
	font-size: 15px;
	position: absolute;
	left: 0;
	bottom: -20px;
	display: flex;
	justify-content: space-between;
	color: white;
	width: 100%;
}
.light-close{
	font-size: 30px;
	position: absolute;
	right: 0;
	cursor: pointer;
	top: -30px;
	color: white;
}
@media (max-width: 900px){
	.ull{
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		background-color: black;
		color: white;
		transition: all 2s ease;
		display: none;
	}
	ul{
		display: flex;
		flex-direction: column;
		align-items: center;
		align-self: center;
		margin-top: 200px;
	}
	li{
		margin-top: 50px;
	}
	.openMenuu{
		display: block;
	}
	.closeMenu{
		display: block;
	}
	.text1{
		font-size: 30px;
	}
	.container1{
		display: flex;
		flex-direction: column;
	}
	.about-title{
		display: flex;
		align-self: center;
		margin-top: 20px;
	}
	.about-content{
		display: flex;
		flex-direction: column;
		align-self: center;
		max-width: 400px;
	}
	.img-box{
		display: flex;
		align-self: center;
	}
	.about-content p{
		font-size: 11px;
		max-width: 350px;
		text-align: center;
	}
	.stats{
		display: flex;
		max-width: 350px;
		justify-content: center;
	}
	.stat-box{
		margin-left: 20px;
	}
	.stat-box h2{
		font-size: 25px;
	}
	.stat-box h5{
		font-size: 10px;
	}
	.b-div{
		display: flex;
		align-self: center;
	}
	.img-box{
		width: 300px;
		height: 200px;
	}
	.img-box img{
		width: 100%;
		height: 100%;
	}
	.home{
		background-position: -250px;
	}
}